/* date filter */
.right-align-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  width: 100%;
}

.date-filter-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* margin-bottom: 1rem;
  padding: 1rem; */
  border-radius: 8px;
}

.date-input {
  padding: 0.5rem;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}

.filter-btn {
  background: #1976d2;
  color: #fff;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.filter-btn:hover {
  background: #1565c0;
}

.filtered-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
