.header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: #3b82f6; 
    font-size: 1.5rem;
    font-weight: bold;
}

.greeting{
    align-items: center;
}

.avatar-menu {
    display: flex;
    align-items: center;
    position: relative;
}

.avatar-menu img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e5e7eb; 
}

.menu-dropdown {
    position: absolute;
    right: 0;
    margin-top: 8px;
    width: 200px;
    background-color: white;
    border: 1px solid #e5e7eb; 
    border-radius: 0.5rem; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none; 
}

.menu-dropdown a {
    display: block;
    padding: 12px;
    color: #4b5563; 
    text-decoration: none;
}

.menu-dropdown a:hover {
    background-color: #f3f4f6; 
}